.App {
  min-height: 100vh;
  box-sizing: border-box;
}


.pad {
  padding:8px;
}



.link {
  text-decoration:none;
  color:white;
}

.top-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-top: 24px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.top-details * {
  width: 100%;
}

.nutrition-values * {
  width: 100%;
}
.add-recipe * {
width: 100%;
}
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.add-recipe textarea {
  height: 100%;
}

.add-recipe button { 
  max-width: 500px;
  margin-inline: auto;
}
.icon-button {
   background: none;
   width:fit-content;
}

.add-recipe-btn{
  position: fixed;
  right:64px;
  bottom:32px;
  border-radius: 50%;
  background-image: linear-gradient(25deg, #654ea3 ,#eaafc8);
  width:50px;
  display: flex;
  color:white;
  align-items: center;
  justify-content: center;
  height:50px;
  font-weight: bold;
  cursor: pointer;
}

.add-recipe-btn:hover {
  filter: brightness(80%);
  transition: .3s linear;
}